.pet_label{
  color: #673ab7;
  font-size: larger;
  font-weight: bolder;
}

.pet_name{
  font-size: larger;
  font-weight: bolder;
  color: #ff9800;
  margin-left: 1em;
}
.pet_image{
  margin:8px;
  /*border: solid 2px #03a9f4;*/
  /*background: #03a9f4;*/
  width: 400px;
  height: 400px;
}


.text_box{
  width: 300px;
}

a{
  color: saddlebrown;
  font-weight: bolder;
}

p.message {
  font-size: larger;
  font-weight: bolder;
  color: crimson;
}
